vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

flex()
  display -webkit-flex
  display -moz-flex
  display -ms-flexbox
  display flex

flexDirection(direction = row)
  direction

flexJustify(content)
  content

flexAlignItem(item = center)
  item

.flex-start
  flex()
  align-items flexAlignItem()

.flex-between
  flex()
  justify-content flexJustify(space-between)
  align-items flexAlignItem()

.text-unselect
  vendor('user-select', none)

linear-gradient(value)
  vendor('linear-gradient', value)
